{% extends 'base.html' %}
{% block title %}Display Data {% endblock %}

{% block content %}
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>username</th>
            <th>email address</th>
            <th>created at</th>
            <th>updated</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for users in serialize %}
        <tr>
            <td>{{ users.username }}</td>
            <td>{{ users.email }}</td>
            <td>{{ users.created_at }}</td>
            <td><a href="{{ url_for('update', id=users.id) }}" class="text-bg-light">Update</a></td>
            <td><a href="{{ url_for('delete', id=users.id) }}" class="text-bg-danger delete-link">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="mt-3">
    <a href="{{ url_for('register') }}" class="btn btn-success">Back</a>
</div>
{% endblock %}
